{extends file="base.html"}
{block name="header"}
    <li class="active"><a href="javascript:void(0);">安装协议</a></li>
    <li class="active"><a href="javascript:void(0);">环境检测</a></li>
    <li class="active"><a href="javascript:void(0);">创建数据库</a></li>
    <li class="active"><a href="javascript:void(0);">安装</a></li>
    <li class="active"><a href="javascript:void(0);">完成</a></li>
{/block}

{block name="body"}
    <h1>完成</h1>
    <p>安装完成！</p>
{/block}


{block name="footer"}
    <a class="btn btn-primary btn-large" href="javascript:void(0);">登录后台</a>
    <a class="btn btn-success btn-large" href="javascript:void(0);">访问首页</a>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=30545910" charset="UTF-8"></script>
{/block}