<!-- Placed js at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
<script src="http://cdn.bootcss.com/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
<script src="http://cdn.bootcss.com/layer/2.4/layer.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/admin/js/scripts.js"></script>