<link href="__PUBLIC__/admin//css/style.css" rel="stylesheet">
<link href="__PUBLIC__/admin//css/style-responsive.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/layer/2.4/skin/layer.min.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/L.js"></script>
<script>
    var public_url = '__PUBLIC__/admin/';
    L.init({public_url:public_url});
</script>