<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <script src="__PUBLIC__/js/L.js"></script>
</head>
<body>

    <div class="container">
        <br>
        <div class="toolbar">
            <button type="button" id="add" class="btn btn-default">add</button>
            <button type="button" id="save" class="btn btn-default">save</button>
        </div>
        <br>
        <table id="bg" class="table table-striped table-bordered" cellspacing="0" width="50%"></table>
        <table id="b2b" class="table table-striped table-bordered" cellspacing="0" width="50%"></table>
    </div>
    <script>
        L.use([
            'jquery.js','datatables.js'
        ],function () {

            var dtable = L.P.datatables.create('#dtable',{
                columns: [
                    {
                        title:'id',
                        data:'id'
                    },
                    {
                        title:'name',
                        data:'name'
                    }
                ]
            });


            dtable.load(L.O.toObj('{$data}'));
        });
    </script>
</body>
</html>